@import "macchiato"

.bar {
  background-color: rgba($base, 0.1);
  border-radius: 24px;
  padding-top: 8px;
  padding-bottom: 16px;
  font-size: 30px;
  font-family: "JetBrainsMono NF", monospace;
}

.top > * > * {
  margin-bottom: 8px;
}

.bottom > * {
  margin-top: 2px;
}

.archlinux {
  margin-right: 6px;
  color: $blue;
}

.powermenu {
  background-color: $surface0;
  border-radius: 24px;
  margin-left: 6px;
  font-size: 26px;
}

.powermenu * {
  margin-right: 6px;
}

.poweroff {
  color: $red;
}

.reboot {
  color: $yellow;
}

.logout {
  color: $green;
}

.tray {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "Cantarell", sans-serif;
}

.tray > * {
  margin-left: 2px;
}

.workspaces {
  margin-right: 10px;
  color: $text;
}

.volume {
  margin-left: 8px;
}

.volume trough {
  all: unset;
  background-color: $surface1;
  border-radius: 4px;
  min-height: 128px;
  min-width: 8px;
}

.volume slider {
  all: unset;
}

.volume highlight {
  all: unset;
  background-color: $yellow;
  border-radius: 4px;
  min-height: 8px;
}

.volicon {
  margin-right: 4px;
  color: $yellow;
}

.battery {
  margin-left: 2px;
  color: $green;
}

.time {
  color: $text;
}

.clockicon {
  margin-right: 2px;
}

.digits {
  margin-left: 2px;
  font-size: 20px;
  font-weight: bold;
}

