@use "node_modules/@catppuccin/palette/scss/macchiato" as *;
@use "node_modules/@catppuccin/palette/css/catppuccin.css";

.Bar {
  background-color: rgba($base, 0.8);
  color: $text;
  font-weight: bold;

  button {
    all: unset;
    padding: 0 8px;
  }

  popover {
    > * {
      background-color: rgba($base, 0.5);
      border-radius: 8px;
    }

    modelbutton:hover {
      color: $base;
      background-color: $blue;
    }
  }

  > centerbox > * > * {
    padding: 0 8px;
  }

  .Start {
    font-size: 20px;
    color: $blue;

    .PowerMenu {
      .PowerOff {
        --btn-color: var(--ctp-macchiato-red);
      }

      .Reboot {
        --btn-color: var(--ctp-macchiato-yellow);
      }

      .LogOut {
        --btn-color: var(--ctp-macchiato-green);
      }

      button {
        margin: 8px;
        padding: 8px;
        border: 4px solid;
        border-radius: 64px;
        border-color: var(--btn-color);
        color: var(--btn-color);
        transition: all ease 200ms;

        &:hover {
          color: $base;
          background-color: var(--btn-color);
        }
      }
    }
  }

  .Workspaces box {
    margin: 13px 0;
    padding: 4px;
    border-radius: 4px;
    background-color: $text;
    transition: all ease 200ms;

    &.focused {
      min-width: 32px;
    }
  }

  .Date > image {
    margin-right: 8px;
  }

  .Time .ClockIcon {
    font-size: 20px;
    margin-top: 4px;
    margin-right: 8px;
  }

  .SysTray {
    font-weight: normal;

    image {
      -gtk-icon-style: regular;
      -gtk-icon-filter: sepia(100%) saturate(200%) hue-rotate(200deg) brightness(80%);
    }
  }

  .AudioSlider {
    slider {
      border-color: $base;
      background-image: none;
      background-color: $text;
    }

    trough {
      min-width: 128px;
      border-color: transparent;
      background-color: $surface2;
    }

    highlight {
      border-color: transparent;
      background-color: $blue;
    }
  }
}

.Launcher {
  min-width: 512px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba($base, 0.5);
  color: $text;
  font-size: 24px;

  image {
    margin: 0 8px;
  }

  entry {
    all: unset;
  }

  scrolledwindow {
    min-height: 512px;
  }

  .SearchBar, button {
    all: unset;
    padding: 16px;
    border-radius: 16px;
  }

  .SearchBar {
    background-color: rgba($text, 0.2);
    margin-bottom: 16px;
  }

  button {
    .AppDesc {
      font-size: 16px;
      color: $subtext0;
    }

    &:focus {
      background-color: rgba($text, 0.2);
    }
  }
}

