@use 'macchiato' as *;

.Bar {
  background-color: rgba($base, 0.8);
  color: $text;
  font-weight: bold;

  button {
    all: unset;
  }

  > centerbox {
    padding: 0 8px;

    > box > * {
      margin: 0 8px;
    }
  }

  .Start {
    font-size: 20px;
    color: $blue;
  }

  .Workspaces > button {
    font-size: 24px;
    margin: 0 8px;
  }

  .SysTray {
    font-weight: normal;

    > button {
      margin: 0 8px;
    }

    menu {
      background-color: rgba($base, 0.8);

      > menuitem:hover {
        color: $base;
        background-color: $blue;
      }
    }
  }

  .AudioSlider {
    slider {
      border-color: $base;
      background-image: none;
      background-color: $text;
    }

    trough {
      border-color: transparent;
      background-color: $base;
    }

    highlight {
      border-color: transparent;
      background-color: $blue;
    }
  }
}

.Wallpaper > box {
  min-width: 1920px;
  min-height: 1080px;
  background-image: url("/home/verstand/.wallpaper");
}

