@use "node_modules/@catppuccin/palette/scss/macchiato" as *;

window.Bar {
  background-color: rgba($base, 0.8);
  color: $text;
  font-weight: bold;

  button {
    all: unset;
  }

  > centerbox {
    padding: 0 8px;

    > box > * {
      margin: 0 8px;
    }
  }

  .Start {
    font-size: 20px;
    color: $blue;
  }

  .Workspaces > button {
    font-size: 24px;
    margin: 0 8px;
  }

  .SysTray {
    font-weight: normal;

    > menubutton {
      margin: 0 8px;
    }

    popover > contents {
      background-color: rgba($base, 0.8);

      modelbutton:hover {
        color: $base;
        background-color: $blue;
      }
    }
  }

  .AudioSlider {
    slider {
      border-color: $base;
      background-image: none;
      background-color: $text;
    }

    trough {
      min-width: 128px;
      border-color: transparent;
      background-color: $base;
    }

    highlight {
      border-color: transparent;
      background-color: $blue;
    }
  }
}

.PowerMenu {
  centerbox {
    background-color: rgba($base, 0.5);
    padding: 64px 48px;
    border-radius: 384px;
  }

  button {
    all: unset;
    font-size: 256px;
    padding-left: 64px;
    padding-right: 128px;
    margin: 0 16px;
    border-radius: 256px;
    background-color: rgba($base, 0.5);
    transition: all 0.2s ease;
  }

  .PowerOff {
    color: $red;
  }

  .Restart {
    color: $yellow;
  }

  .LogOut {
    color: $green;
  }

  .selected {
    color: $base;

    &.PowerOff {
      background-color: $red;
    }

    &.Restart {
      background-color: $yellow;
    }

    &.LogOut {
      background-color: $green;
    }
  }
}

